<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/schedule">Schedule</a></li>
    </ul>
  </div>
</nav>
  <h1>Hermione's Hogwarts Scheduler</h1>
  <div class="img-container">
    <img src="http://farm3.static.flickr.com/2625/4180544164_c1182140e7_b.jpg" alt="time-turner">
  </div>
</body>
