body {
  font-family: 'Allura', cursive;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  width: 150px;
  display: flex;
}

li a {
  flex-grow: 1;
  background: #ffbf00;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
}
